

<div class="panel=heading">

<h2>Add Text <a class="pull-right btn btn-success" href="/">Back</a> </h2>

</div>



<div class="panel-body">

<form action="{{ url_for('/addText') }}" method="post">
<div class="form-group">

    <label for="name">Add Text</label>
    <input type="text" class="form-control" name="tweet" id="tweet" required = "1"  >

</div>



    
    <div class="form-group">
        <input type="hidden" name="id" value="1">

     <input type="hidden" name="action" value="edit">
     <input type="submit" class="btn btn-success" name="submit" value="Add Text">

</div>


</form>


</div>


