<!DOCTYPE html>
<html>
<head>
{% include "header.html" %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
{% include "sidebar.html" %}
 
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col md -12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Tweet</th>
                    <th>Kalimat</th>
                    <th>Sentiment</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                      {% for rs in data_testing %}
                      <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{ rs.0 }}</td>
                          <td>{{ rs.1 }}</td>
                          <td>{{ rs.2 }}</td>

                      </tr>
                      {% endfor %}
                  </tbody>
                  
                 
                </table>
              </div>
              </div>
              <!-- /.card-body -->
           
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include "footer.html" %}
</body>
</html>
